body {
  background: url("basicimagesta/backgroundta.png");
  background-repeat: no-repeat;

  background-size: cover;
}

.logo {
  position: absolute;
  margin-top: 1%;
  margin-left: 65%;
  margin-right: 80%;
}

.innerbox {
  position: absolute;
  margin-top: 10%;
  margin-left: 28%;
  background-color: black;
  opacity: 0.4;
  width: 800px;
  height: 600px;


}

.topbox {
  position: absolute;
  background-color: blue;
  opacity: 0.2;
  width: 800px;
  height: 10px;
    box-shadow: 10px 10px 5px #000000;

}
